@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.movie-bg-container{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/orange-color-bg.png");
    background-size: cover;
    padding: 26px;
}
.movie-heading-container{
    margin-top: 10px;
    margin-bottom: 10px;
}
.movie-title{
    color: #ffffff;
    font-family: "Roboto";
    font-size: 32px;
    font-weight: bold;
}
.button{
    color: #ff8348;
    border-radius: 15px;
    border-width: 0;
    padding: 10px;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: normal;
}
.movie-description{
    color: #ffffff;
    font-family: "Roboto";
    font-size: 16px;
}
.sub-heading{
    color: #ffffff;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 600;
}
.similar-movie-image{
    margin-left: 5px;
    margin-right: 5px;
}